@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

[v-cloak] {
  visibility: hidden;
}

* {
	transition: opacity 0.33s ease;
}

.fade-enter, .fade-leave {
	opacity: 0;
}
