@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';

@import 'animations';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

[v-cloak] {
  visibility: hidden;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #333;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

button {
  padding: 20px;
  font-size: 40px;
}

.center {
  width: 100%;
  text-align: center;
}

.col-block {
  width: 33%;
  float: left;
  text-align: center;
  padding: 1em;
}

.entity {
  width: 50%;
  float: left;
  text-align: center;
  padding: 1em;
  color: #AAA;
}

.entity.active {
//  background-color: #00AA55;
  background-color: #FFF;
}
