<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
	<script src="lib/system.js"></script>
	<script>
		System.config({
			baseURL: '',
			paths: {
				'traceur': 'lib/traceur.min.js',
				'vue': 'lib/vue.min.js',
				'http': 'lib/http.js'
			},
			map: {
				'html': 'lib/text'
			}
		});
		System.import('main');
	</script>
</head>
<body id="main" v-cloak>
    <div class="center">
            <pre>
 s d   g h j   l ;
z x c v b n m , . /
            </pre>
        <input type="range" min="220" max="880" step="10" v-model="graphNote" debounce="20">
        <input type="range" min="0.001" max="0.1" step="0.001" v-model="graphLength" debounce="20">
        <br>
        <button v-on="click: nextGeneration()">Next</button>
    </div>
    <br> <br>
    <div v-repeat="entity: entities" v-on="click: selectEntity($index)" v-class="active: activeEntity === $index"
         class="entity">
        <synth-view v-with="graphLength: graphLength, graphNote: graphNote, params: entity.genotype"></synth-view>
        <input type="radio" v-repeat="5" v-attr="value: $index" v-model="entity.fitness"><br>
        <!--<pre>{{entity | json 4}}</pre>-->
    </div>
</body>
</html>
